#ondeestamos{
    margin-top: 5em;
    margin-bottom: 5em;
    min-height: 400px;
}

#container-ondeestamos{
    max-width: 1400px;
}

#iframe{
    width: 40vw;
    height: 400px;
}

#paragrafo-ondeestamos{
    max-width: 400px;
}

@media (max-width:578px) {
    #iframe{
        width: 60vw;
        height: 300px;
    }
    
}